<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QuanLyMuaBanLinhKienConnectionString"
            connectionString="Data Source=&quot;toiyeucoding.com, 1433&quot;;Initial Catalog=QuanLyMuaBanLinhKien;Persist Security Info=True;User ID=sa;Password=duylun@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>